faker
# web server
aiohttp==3.6.2
aiohttp-cors==0.7.0
aiohttp-graphql==1.0.0

# graphql
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-server-core==2.0.0

# database
alembic==1.4.2
gino==1.0.1
psycopg2-binary==2.8.5


# configuration
dynaconf==2.2.3
pyyaml==5.3.1


# tests
# not necessary at production
mock==3.0.5
async-generator==1.10
pytest==5.4.1
pytest-runner==5.2
pytest-mock==3.1.0
pytest-asyncio==0.11.0
pytest-factoryboy==2.0.3
sqlalchemy-utils==0.36.7
python-dateutil==2.8.1